.mainHome {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: clamp(.8rem, 2vw, 2rem);
  /* background: #cbc798; */
}
